page-about {
  ion-icon {
    color: #33b55b;
  }
  .cabecalho {
    background-color: #33b55b;
    color: white;
    text-align: center;
  }
  ion-row {
    text-align: center;
  }
  ion-col {
    text-align: center;
  }
}
