page-about {
    ion-icon {
        color: #33B55B;
    }
    .cabecalho {
        background-color: #33B55B;
        color: white;
        text-align: center;
    }
    ion-row {
        text-align: center;
    }
    ion-col {
        text-align: center;
    }

    .card { border-radius : 10px; }
}
