<ion-header>
  <ion-navbar color="primary" text-center>
    <ion-title>Rendas</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let item of caixas">
      <!--<ion-item [ngStyle]="{'background-color': item.caixa.ehConsignado ? '#A9F5BC' : ''}">-->
      <ion-item [ngStyle]="{'color': item.caixa.ehConsignado ? '#33B55B' : ''}">
        <h2>{{ item.caixa.descricao }}</h2>
        <p>{{ item.caixa.valor | currency:'BRL':'symbol':'1.2' }}</p>
        <!--<ion-badge *ngIf="item.caixa.ehConsignado">Consignado</ion-badge>-->
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="removeDespesa(item);">
          <ion-icon name="trash"></ion-icon>Excluir
        </button>
        <button ion-button (click)="editDespesa(item);">
          <ion-icon name="create"></ion-icon>Editar
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab bottom right>
    <button ion-fab (click)="addDespesa()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>