page-home {
  .cabecalho {
    background-color: #33b55b;
    color: white;
  }
  .principal-custom {
    background-size: cover;
    background-position: center;
  }
  .negrito {
    font-weight: bold;
  }
  ion-icon {
    color: #33b55b;
  }
  .icone-vermelho {
    color: red;
  }
}
