page-home {
    .cabecalho {
        background-color: #33B55B;
        color: white;
    }

    .principal-custom {
        background-size: cover;
        background-position: center;    
   }

   .card { border-radius : 10px; }
}
