<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header style="text-align: center">
      Cálculo Rápido
    </ion-card-header>
    <ion-list>
      <ion-item>
        <ion-label>Renda (R$)</ion-label>
        <ion-input type="number" #rendas></ion-input>
        <button ion-button large item-right>
          <ion-icon name="add-circle" (click)="goRendas()"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label>Despesas (R$)</ion-label>
        <ion-input type="number" #despesas></ion-input>
        <button ion-button large item-right>
            <ion-icon name="add-circle" (click)="goDespesas()"></ion-icon>
          </button>
      </ion-item>
    </ion-list>
  </ion-card>
  <button ion-button block round (click)="valeAPena()">Calcular</button>
  <br>
  <button ion-button full round (click)="ngIfCtrl()">Esconder</button>
  <br>
  <ion-card *ngIf="hide">
    <br>
    <p text-center>
      <ion-icon name="cash"> {{ resultado }} </ion-icon>
    </p>
    <br>
    <p text-center> Você possui {{ percentualComprometido }}% de sua Renda já comprometida! </p>
    <br>
    <p text-center> Você ainda tem {{ percentualRestante }}% de sua Renda livre, use com sabedoria! </p>
    <br>
    <p text-center>Estudos dizem que o ideal é você ter no máximo {{ percentualPodeComprometer }}% de sua renda comprometida com empréstimos!!</p>
    <br>
  </ion-card>
  <p text-center>---</p>
  <br>
  <br>
  <button ion-button block round (click)="loadData()">Carregar JSON</button>
  <ion-list>
    <ion-item *ngFor='let item of items' (click)="itemClick(item.id)">
      <h1>{{item.id}}</h1>
      {{item.title}}
    </ion-item>
  </ion-list>
</ion-content>