page-intro {
    .inicio {
        background-color: #33B55B;
        color: white;
    }
    .fim {
        background-color: #33B55B;
        color: white;
        width: 240px;
    }
    .swiper-pagination-bullet-active {
        opacity: 1;
        background: greenyellow;
    }
    ion-slide {
        background-color: #33B55B;
    }  
}
