page-intro {
  .intro-inicio {
    background-color: #33b55b;
    color: white;
  }
  .intro-fim {
    background-color: #33b55b;
    color: white;
    width: 240px;
  }
  .swiper-pagination-bullet-active {
    opacity: 1;
    background: greenyellow;
  }
  ion-slide {
    background-color: #33b55b;
  }
}
