page-consulta {
    .taxas {
        border-radius: 10px;
        word-wrap: normal;
        text-align: center;
        background-color: #33B55B;
        color: white;
        height: 45px;
        font-size: 14px;
    }
    .item {
        margin:10px auto;
    }
    .margem {
        margin-bottom: -30px !important;
    }
    .toast-success {
        > div{
             background-color:#32db64!important;
             text-align: center;
         }
      }
      .toast-container{
        background-color: white;
        text-align: center;
        }
        .toast-message {
            text-align: center;
          }
}
