page-consulta {
  .taxas {
    border-radius: 10px;
    word-wrap: normal;
    text-align: center;
    background-color: #33b55b;
    color: white;
    height: 45px;
    font-size: 14px;
  }
  .item {
    margin: 10px auto;
  }
  .margem {
    margin-bottom: -30px !important;
  }
}
